body{
  background-size: cover;
  background-image: url("images/3.jpg");
  width: 100%;
  height: 100vh;
  background-clip: content-box;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color:white;
  overflow-x: hidden;

}

/* #landing{
  z-index: 10;
  background-image: url("images/2.jpg");
  width: 100%;
  height: 100vh;
  background-clip: content-box;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
} */
h1,.name{
  padding-top:2rem;
  font-family: 'Lobster Two', cursive;
}

.big{
  font-size: 4rem;
}
h3{
  font-size: 1rem;
  font-family: 'Lexend', sans-serif;
}
.name{
  padding: 0;
  margin-left: 10px;
}
.cont{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
footer{
  position: absolute;
  top: 92%;
  margin-bottom: 0;

  height: 2.5rem;
  width: 100vw;
}
.icons{
  color:white;
}
button{
  border: none;
  background-color: transparent;
}
.hide{
  visibility: hidden;
}
button:focus{
  color: #bb86fc;
}
.card{
  border: 2px solid white;
  margin-top: 5vh;
  border-radius: 20px;
  /* background-color: rgba(0, 0, 255, 0.2); */
  background-color: rgba(18, 18, 18, 1);
  backdrop-filter: blur(5px);
  height: auto;
  padding-bottom: 3rem;
}

label{
  padding-top: .5rem;
  font-size: 1rem;
}
.heading{
  display: flex;
  margin-top: 0;
  justify-content: center;

  font-size: 2rem;
}
.makecenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:2.8rem 2rem;
  padding-bottom: 1rem;
}
.form-label{
  font-size: 1.2rem;
}

input[type=range] {
  height: 19px;
  -webkit-appearance: none;
  margin: 10px 0;
  background-color: transparent;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background-color: transparent;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.btn{
  margin-top: 1rem;
}

.focus{
  padding-left: 3rem;
  padding-right: 3rem;
}
